In [1]:
import pandas as pd
koi=pd.read_csv('data1.csv')
koi

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,NaN,Afghanistan,33.939110,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean
1,NaN,Albania,41.153300,20.168300,2020-01-22,0,0,0,0,Europe
2,NaN,Algeria,28.033900,1.659600,2020-01-22,0,0,0,0,Africa
3,NaN,Andorra,42.506300,1.521800,2020-01-22,0,0,0,0,Europe
4,NaN,Angola,-11.202700,17.873900,2020-01-22,0,0,0,0,Africa
...,...,...,...,...,...,...,...,...,...,...
49063,NaN,Sao Tome and Principe,0.186400,6.613100,2020-07-27,865,14,734,117,Africa
49064,NaN,Yemen,15.552727,48.516388,2020-07-27,1691,483,833,375,Eastern Mediterranean
49065,NaN,Comoros,-11.645500,43.333300,2020-07-27,354,7,328,19,Africa
49066,NaN,Tajikistan,38.861000,71.276100,2020-07-27,7235,60,6028,1147,Europe
49067,NaN,Lesotho,-29.610000,28.233600,2020-07-27,505,12,128,365,Africa

In [3]:
print(koi.head())

  Province/State Country/Region       Lat       Long        Date  Confirmed  \
0            NaN    Afghanistan  33.93911  67.709953  2020-01-22          0
1            NaN        Albania  41.15330  20.168300  2020-01-22          0
2            NaN        Algeria  28.03390   1.659600  2020-01-22          0
3            NaN        Andorra  42.50630   1.521800  2020-01-22          0
4            NaN         Angola -11.20270  17.873900  2020-01-22          0

   Deaths  Recovered  Active             WHO Region
0       0          0       0  Eastern Mediterranean
1       0          0       0                 Europe
2       0          0       0                 Africa
3       0          0       0                 Europe
4       0          0       0                 Africa

In [4]:
print(koi.head(15))

                  Province/State       Country/Region       Lat        Long  \
0                            NaN          Afghanistan  33.93911   67.709953
1                            NaN              Albania  41.15330   20.168300
2                            NaN              Algeria  28.03390    1.659600
3                            NaN              Andorra  42.50630    1.521800
4                            NaN               Angola -11.20270   17.873900
5                            NaN  Antigua and Barbuda  17.06080  -61.796400
6                            NaN            Argentina -38.41610  -63.616700
7                            NaN              Armenia  40.06910   45.038200
8   Australian Capital Territory            Australia -35.47350  149.012400
9                New South Wales            Australia -33.86880  151.209300
10            Northern Territory            Australia -12.46340  130.845600
11                    Queensland            Australia -27.46980  153.025100
12               South Australia            Australia -34.92850  138.600700
13                      Tasmania            Australia -42.88210  147.327200
14                      Victoria            Australia -37.81360  144.963100

          Date  Confirmed  Deaths  Recovered  Active             WHO Region
0   2020-01-22          0       0          0       0  Eastern Mediterranean
1   2020-01-22          0       0          0       0                 Europe
2   2020-01-22          0       0          0       0                 Africa
3   2020-01-22          0       0          0       0                 Europe
4   2020-01-22          0       0          0       0                 Africa
5   2020-01-22          0       0          0       0               Americas
6   2020-01-22          0       0          0       0               Americas
7   2020-01-22          0       0          0       0                 Europe
8   2020-01-22          0       0          0       0        Western Pacific
9   2020-01-22          0       0          0       0        Western Pacific
10  2020-01-22          0       0          0       0        Western Pacific
11  2020-01-22          0       0          0       0        Western Pacific
12  2020-01-22          0       0          0       0        Western Pacific
13  2020-01-22          0       0          0       0        Western Pacific
14  2020-01-22          0       0          0       0        Western Pacific

In [8]:
print(koi.tail())

      Province/State         Country/Region        Lat       Long        Date  \
49063            NaN  Sao Tome and Principe   0.186400   6.613100  2020-07-27
49064            NaN                  Yemen  15.552727  48.516388  2020-07-27
49065            NaN                Comoros -11.645500  43.333300  2020-07-27
49066            NaN             Tajikistan  38.861000  71.276100  2020-07-27
49067            NaN                Lesotho -29.610000  28.233600  2020-07-27

       Confirmed  Deaths  Recovered  Active             WHO Region
49063        865      14        734     117                 Africa
49064       1691     483        833     375  Eastern Mediterranean
49065        354       7        328      19                 Africa
49066       7235      60       6028    1147                 Europe
49067        505      12        128     365                 Africa

In [9]:
print(koi.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49068 entries, 0 to 49067
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province/State  14664 non-null  object
 1   Country/Region  49068 non-null  object
 2   Lat             49068 non-null  float64
 3   Long            49068 non-null  float64
 4   Date            49068 non-null  object
 5   Confirmed       49068 non-null  int64
 6   Deaths          49068 non-null  int64
 7   Recovered       49068 non-null  int64
 8   Active          49068 non-null  int64
 9   WHO Region      49068 non-null  object
dtypes: float64(2), int64(4), object(4)
memory usage: 3.7+ MB
None

In [10]:
print(koi.describe())

                Lat          Long     Confirmed         Deaths     Recovered  \
count  49068.000000  49068.000000  4.906800e+04   49068.000000  4.906800e+04
mean      21.433730     23.528236  1.688490e+04     884.179160  7.915713e+03
std       24.950320     70.442740  1.273002e+05    6313.584411  5.480092e+04
min      -51.796300   -135.000000  0.000000e+00       0.000000  0.000000e+00
25%        7.873054    -15.310100  4.000000e+00       0.000000  0.000000e+00
50%       23.634500     21.745300  1.680000e+02       2.000000  2.900000e+01
75%       41.204380     80.771797  1.518250e+03      30.000000  6.660000e+02
max       71.706900    178.065000  4.290259e+06  148011.000000  1.846641e+06

             Active
count  4.906800e+04
mean   8.085012e+03
std    7.625890e+04
min   -1.400000e+01
25%    0.000000e+00
50%    2.600000e+01
75%    6.060000e+02
max    2.816444e+06

In [11]:
print(koi.shape)

(49068, 10)

In [2]:
import pandas as pd
koi=pd.read_csv('data1.csv')
koi

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,NaN,Afghanistan,33.939110,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean
1,NaN,Albania,41.153300,20.168300,2020-01-22,0,0,0,0,Europe
2,NaN,Algeria,28.033900,1.659600,2020-01-22,0,0,0,0,Africa
3,NaN,Andorra,42.506300,1.521800,2020-01-22,0,0,0,0,Europe
4,NaN,Angola,-11.202700,17.873900,2020-01-22,0,0,0,0,Africa
...,...,...,...,...,...,...,...,...,...,...
49063,NaN,Sao Tome and Principe,0.186400,6.613100,2020-07-27,865,14,734,117,Africa
49064,NaN,Yemen,15.552727,48.516388,2020-07-27,1691,483,833,375,Eastern Mediterranean
49065,NaN,Comoros,-11.645500,43.333300,2020-07-27,354,7,328,19,Africa
49066,NaN,Tajikistan,38.861000,71.276100,2020-07-27,7235,60,6028,1147,Europe
49067,NaN,Lesotho,-29.610000,28.233600,2020-07-27,505,12,128,365,Africa

In [3]:
print(koi.columns)

Index(['Province/State', 'Country/Region', 'Lat', 'Long', 'Date', 'Confirmed',
       'Deaths', 'Recovered', 'Active', 'WHO Region'],
      dtype='object')

In [4]:
print(koi.dtypes)

Province/State     object
Country/Region     object
Lat               float64
Long              float64
Date               object
Confirmed           int64
Deaths              int64
Recovered           int64
Active              int64
WHO Region         object
dtype: object

In [ ]:
koi['']