In [5]:
# import pandas as pd
# data={'Name':['John Doe','Mary Re','Harley'],
#                 'Gender':[1,2,3],
#                  'Age':[80,38,20],
#                  'Height':[166.2,150.2,148.57],
#                  'weight':[62.3,52.5,70]}
# df=pd.Series(data)
# df

Name      [John Doe, Mary Re, Harley]
Gender                      [1, 2, 3]
Age                      [80, 38, 20]
Height         [166.2, 150.2, 148.57]
weight               [62.3, 52.5, 70]
dtype: object

In [3]:
import pandas as pd
df = pd.Series({'name':['John Doe', 'Mary Re', 'Harley Me'],
                   'gender':[1,2,0],
                   'age':[80, 38, 12],
                   'height': [161.0, 173.5, 180.5],
                   'weight': [62.3, 55.7, 80.0]
                   })
df

name      [John Doe, Mary Re, Harley Me]
gender                         [1, 2, 0]
age                         [80, 38, 12]
height             [161.0, 173.5, 180.5]
weight                [62.3, 55.7, 80.0]
dtype: object

In [4]:
gender_map = {0: 'Unknown', 1:'Male', 2:'Female'}
df['gender'] = df['gender'].map(gender_map)

AttributeError: 'list' object has no attribute 'map'